* {
  margin: 0;
  padding: 0;
}

html body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1;
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  background: #3f3f3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 30vw;
  height: auto;
  border: 1px solid #9f9f9f;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background: #ffffff;
}
ul,li{
  list-style: none;
}
p {
  padding: 1vh 0;
  border: 1px solid #9f9f9f;
}
li {
  // padding: 1vh 0vw;
  // margin: 1vh 0;
  // padding-left: 1vw;
  width: 32vw;
  height: auto;
  // border: 1px solid #9f9f9f;
}
