* {
  margin: 0;
  padding: 0;
}

html body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1;
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  background: #3f3f3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 32vw;
  width: auto;
  height: auto;
  overflow: hidden;
  background: #ffffff;
  // display: table;
  // border-collapse : collapse;
  border-radius: 0.8vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #9f9f9f;
}
ul,li{
  list-style: none;
}
div {
  width: 32vw;
  padding: 1vh;
  border: 1px solid #9f9f9f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.plusWrapper {
  padding-left: 1vh;
}
.hidden {
  display: none;
}

