<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100&display=swap" rel="stylesheet">
  <!-- <link rel='stylesheet' href='./style.css'> -->
</head>
<body>
  <p id="title">Default</p>
  <div class="rowWrapper">
    <div class="parent row1">
      <p class="plus enable">+</p>
      <p id="parent">Parent</p>
    </div>
    <div class="child" row1>
      <p class="plus enable">+</p>
      <p id="child">Child</p>
    </div>
    <div class="parent row1">
      <p class="plus disable">+</p>
      <p id="parent">Parent</p>
    </div>
    <div class="parent row1">
      <p class="plus disable">+</p>
      <p id="parent">Parent</p>
    </div>
    <div class="parent row1">
      <p class="plus disable">+</p>
      <p id="parent">Parent</p>
    </div>
    <div class="parent row1">
      <p class="plus disable">+</p>
      <p id="parent">Parent</p>
    </div>
  </div>
  
</body>
</html>
